# ======================
# Virtual environments
# ======================
dl/


# ======================
# Data files
# ======================
data/cifar-10-batches-py/
data/preprocessed/
data/cifar-10-python.tar.gz